* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: rgb(19, 19, 19);
  font-family: "Inter", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}

.container {
  width: 100vw;
  display: flex;
  background-color: #f1f1f1;
  justify-content: center;

  .navbar {
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;
    }
  }

  img {
    border-radius: 50%;
  }
}
