nav {
  background-color: rgb(26, 109, 204);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span {
  font-size: 110%;
  font-weight: 600;
}

ul {
  list-style: none;
  margin-right: 20px;
}

.nav-menu ul {
  display: flex;
}

li {
  margin: 10px;
  padding: 1rem;
}

#logo {
  /* color: blue; */
  font-size: 2rem;
}

.link {
  font-weight: 600;
  text-decoration: none;
  color: aliceblue;
}
