.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top img {
  padding: 2px;
  height: 6vw;
  width: 6vw;
  border-radius: 50%;
  border: 2px dotted #1a6dcc;

  margin-bottom: 2vw;
}
