* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  margin: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-grp {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1rem;
}

input {
  padding: 0.3rem 1rem;
  border-radius: 5px;
}

button {
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  min-width: 100px;
  margin: 0 auto;
  background-color: cadetblue;
  font-family: cursive;
  color: azure;
  font-size: 110%;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.error {
  padding: 1rem 1.5rem;
  background-color: rgb(250, 174, 189);
  color: crimson;
  font-family: cursive;
  border-radius: 10px;
}

.no-error {
  border-radius: 10px;

  padding: 1rem 1.5rem;
  background-color: rgb(202, 250, 174);
  color: rgb(0, 145, 48);
  font-family: cursive;
}
