* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  margin: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-grp {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1rem;
}

input {
  padding: 0.3rem 1rem;
  border-radius: 5px;
}

button {
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  min-width: 100px;
  margin: 0 auto;
  background-color: cadetblue;
  font-family: cursive;
  color: azure;
  font-size: 110%;
}
