* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-home {
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  /* padding: 1rem 1.5rem; */
  background-color: azure;
  width: 100vw;
  overflow-y: hidden;
  justify-content: center;
}

.video-card {
  margin: 0.6rem;
  padding: 0.75rem;
  width: 23vw;
  min-width: 310px;
  background-color: rgb(226, 246, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 1px 1px 8px 1px rgba(165, 165, 165, 0.692);
}

.video-card img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 2%;
  box-shadow: 2px 2px 8px 2px rgba(5, 5, 143, 0.37);
}

.video-card h4 {
  color: rgb(4, 32, 73);
}
